@charset "utf-8";

// @import "partials/fonts";

// @import "partials/variables";
@import "partials/bootstrap_mixins";

@import "partials/partial_fontawesome";

* {
  box-sizing: border-box;
}

#kandires {
  background: #fff;
  font-family: sans-serif;
  @import "partials/partial_bulma";

  border: 1px solid #ccc;
  border-radius: 5px;

  max-width: 800px;
  padding: 10px;
  margin: 10px;

  .calendar-wrapper {
    text-align: center;
  }

  .calendarbox {
    border: 1px solid #ccc;
    display: inline-block;

    .calendar-header {
      display: flex;
      justify-content: space-between;

      // width: 100%;
      >* {
        // border: 1px solid red;
        padding: 5px;
      }
    }

    table {
      @include mx(auto);
    }

    td,
    th {
      min-width: 2em;
      text-align: center !important;
      padding: 0.8em 0.5em;
      // border: 1px solid red;


      &:hover {
        background: #eee;
      }

      &.day {
        cursor: pointer;
      }

      &.current_date {
        color: red;
      }

      &.other_month {
        opacity: 0.3;
      }

      &.past {
        opacity: 0.4;
      }

      &.today {
        font-weight: bold;
      }

    }

    th {
      font-weight: normal;
      color: #ccc;
    }
  }



  .t-enter-start,
  .t-enter-end,
  .t-leave-end {
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  }

  .t-enter {
    transition-property: background-color, border-color, color, opacity, transform;
    transition-timing-function: ease-in;
    transition-duration: 300ms;
  }

  .t-enter-start {
    opacity: 0;
    --transform-translate-y: -0.5rem;
  }

  .t-enter-end {
    opacity: 1;
    --transform-translate-y: 0;

  }

  .t-leave {
    transition-property: background-color, border-color, color, opacity, transform;
    transition-timing-function: ease-out;
    transition-duration: 300ms;
  }

  .t-leave-end {
    opacity: 0;
    --transform-translate-y: -0.75rem;
  }





}
